# SPDX-FileCopyrightText: 2025 Konstantinas Mesnikas
#
# SPDX-License-Identifier: MIT

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: phpstan-eo-rules
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true