name: Typos

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check spelling
        uses: crate-ci/typos@v1.27.3